body {
    margin: 0;
    padding: 0;
    background-color: #848e90;
    color: #fff;
}
a {
    text-decoration: none;
    border: none;
}
#container {
    /* max-width: 1920px; */
    margin: 0 auto;
}
#container .page {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.page .footer,
.page .title {
    position: absolute;
}
.page .footer > img,
.page .title > img {
    width: 100%;
    display: block;
}
#menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1003;
    width: 428px;
    background-color: rgba(34, 95, 118, 0.5);
    display: flex;
    flex-direction: column;
}
#menu .header {
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu .languages {
    font-size: 24px;
    color: #104a54;
    text-align: center;
    width: 256px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#menu .languages a {
    border-right: 1px solid #104a54;
    display: inline-block;
    padding: 0 10px;
    height: 24px;
    color: #104a54;
    line-height: 24px;
}
#menu .languages a:last-child {
    border-right: none;
}
#menu .languages a.active {
    color: white;
}
#menu .close {
    width: 170px;
    height: 170px;
    text-align: center;
    border-left: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu .close img {
    width: 31px;
    height: 31px;
    cursor: pointer;
    display: block;
}
#menu .menus {
    margin: 110px 0 0 90px;
}
#menu ul,
#menu ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu ul li a {
    color: #9bf9eb;
    font-size: 28px;
    height: 60px;
    line-height: 60px;
    font-weight: 200;
}
#menu ul > li:hover > a {
    color: #fff;
}
#menu ul li.active a {
    color: white;
}
#menu ul li ul {
    display: none;
    transform: translate(0, -30px);
}
#menu ul > li:active > ul,
#menu ul > li.active > ul,
#menu ul > li:hover > ul {
    display: block;
    transform: translate(0, 0);
    animation: menuTrans 500ms 1;
}
@keyframes menuTrans {
    from {
        transform: translate(0, -30px);
    }
    to {
        transform: translate(0, 0);
    }
}
#menu ul li ul li {
    margin-left: 28px;
}
#menu ul li ul li a {
    font-size: 20px;
}
#menu .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 50px 90px;
}
#menu .footer img {
    max-width: 230px;
}
#menuWrapper {
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1002;
    width: 100%;
    background-color: rgba(99, 99, 99, 0.63);
    height: 100%;
    position: fixed;
}
#header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1001;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#logo {
    width: 330px;
    height: 170px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-right: 2px solid rgba(255, 255, 255, 1);
}
#logo img {
    height: 128px;
    display: block;
}
#nav {
    width: 170px;
    height: 170px;
    border-left: 2px solid rgba(255, 255, 255, 1);
    justify-content: center;
    align-items: center;
    display: flex;
}
#nav img {
    width: 35px;
    display: block;
    cursor: pointer;
}
.hidden {
    display: none !important;
}
.arrowBottom {
    position: fixed;
    bottom: 50px;
    left: 140px;
    cursor: pointer;
}
.arrowBottom img {
    width: 65px;
    height: 48px;
}
#fp-nav ul,
.fp-slidesNav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #fff;
}
.fp-controlArrow.fp-next {
    border: none;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
    background-image: url("/images/icon-arrow-right.png");
    right: 140px;
}
.fp-controlArrow.fp-prev {
    border: none;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
    background-image: url("/images/icon-arrow-left.png");
    left: 140px;
}

.fp-controlArrow {
    width: 75px !important;
    height: 75px !important;
}
@media (max-width: 768px) {
    .fp-controlArrow.fp-next {
        right: 20px;
    }
    .fp-controlArrow.fp-prev {
        left: 20px;
    }
}
